@font-face {
  font-family: 'Montserrat';
  src: url('https://storage.googleapis.com/crewpass-production-loginbutton/Montserrat-Medium.woff') format('woff2'),
  url('https://storage.googleapis.com/crewpass-production-loginbutton/Montserrat-Medium.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

div#cp-login-wrapper {
  display: block;
  width: 300px;
  max-width: 300px;
  min-height: 30px;
}
div#cp-login-wrapper div#cp-login {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 6px;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  color: white;
  font-weight: 500;
  font-family: "Montserrat", "helvetica", sans-serif;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: -0.5px;
  min-height: 24px;
}
div#cp-login-wrapper div#cp-login:hover {
  filter: opacity(0.7);
}
div#cp-login-wrapper div#cp-login img#cp-button-icon {
  margin: 0 2px 0 0;
  padding: 0;
}
div#cp-login-wrapper div#cp-login div#cp-button-text-holder {
  width: 100%;
  text-align: center;
}
div#cp-login-wrapper.cp-btn-6345792 {
  width: 200px;
}
div#cp-login-wrapper.cp-btn-6345792 div#cp-login {
  font-size: 14px;
}
