div#cp-login-wrapper {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}
div#cp-login-wrapper div#cp-login {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  max-width: 380px;
  height: 60px;
  padding: 0;
  margin: 0;
  background-color: transparent !important;
  font-family: "Helvetica", "Arial", sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 0;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: opacity(1);
}
div#cp-login-wrapper div#cp-login:hover {
  filter: opacity(0.7);
}
div#cp-login-wrapper.cp-btn-6345792 {
  width: 150px;
  height: auto;
  align-items: flex-start;
  justify-content: start;
  text-align: left;
}
